.character-comparison-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  row-gap: 2em;
  column-gap: 4em;
}

.character-selection-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2em;
  column-gap: 4em;
}

.character-selection-option {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  background-color: var(--tertiary-font-color);
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.character-selection-option.active {
  background-color: var(--secondary-accent-color);
}

.attributes {
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
}

.label-comparator {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
