<div class="character-comparison-container">
  <div class="character-selection-options" [formGroup]="characterSelections">
    @for (character of getCharacterNames(); track character.id) {
      <div>
        <div class="character-selection-option" [class.active]="characterSelections.get(character.id.toString()).get('mainControl').value" (click)="toggleCharacterControl($index)">
          {{ character.firstName }}
        </div>
        <div class="attributes" [formGroupName]="character.id.toString()">
          @for (attr of characterAttributes; track attr) {
            <label class="label-comparator">
          <input type="checkbox" [formControlName]="attr" (click)="$event.stopPropagation()" (change)="activateCharacter(character.id)" />
              {{ attributeLabels[attr] }}
            </label>
          }
        </div>
      </div>
    }
  </div>
  <div class="comparison-chart">
    <div>Selected Comparisons</div>
    <app-graph-display [chartOptionsData]="rowData" [chartOptionsSeries]="seriesData" [large]="true"></app-graph-display>
  </div>
</div>
