.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  min-width: 20rem;
  min-height: 2rem;
  background-color: rgba(0, 0, 0, 0.96);
  top: -30px;
  left: -1px;
  padding: 0.5rem;
  z-index: 9999;
  text-indent: 0ch;
  border-radius: 10px;
  border: solid 1px var(--compliance-font-color);
}

.tooltip-title {
  font-weight: 700;
  margin-bottom: 0.1rem;
  color: var(--compliance-font-color);
}

.tooltip-message {
  font-size: 90%;
}
