<div class="container">
  <div class="header">
    <div class="left-section">
      <a [routerLink]="['/']">
        <div class="logo">
          <img src="assets/dragoonmods_logo_light_green_web.svg" />
        </div>
      </a>
      <div class="nav-links-container">
        <a [routerLink]="['/mods/irongoon']">
          <div class="nav-link">Irongoon</div>
        </a>
        <a [routerLink]="['/data/summary']">
          <div class="nav-link">Data</div>
        </a>
      </div>
    </div>
    <div class="right-section"></div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">Find more on GitHub <br /><a href="https://github.com/ink230" target="_blank">Ink</a></div>
</div>
