::ng-deep app-game-data {
  width: 100%;
}

:host:has(app-game-data-catalog) {
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (min-width: 1200px) and (min-height: 700px) {
  :host:has(app-character-comparison) {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }
}
