<div class="configOutputContainer">
  <div class="config-header">
    <div class="config-input">
      <div><input type="text" [(ngModel)]="inputUpperBound" (ngModelChange)="updateUpperBound($event)" (focus)="onFocusHighlightText(inputFieldUpper)" #inputFieldUpper NumericInput /></div>
      <div><input type="text" [(ngModel)]="inputLowerBound" (ngModelChange)="updateLowerBound($event)" (focus)="onFocusHighlightText(inputFieldLower)" #inputFieldLower NumericInput /></div>
    </div>
    <div class="copyButton" (click)="copyConfigOutputToClipboard()">
      <img src="assets/copy-icon.svg" alt="Copy Text" />
    </div>
  </div>

  <div class="configOutput" #configOutputElement (dblclick)="onDblClick($event)">
    @for (config of configList(); track config) {
      @if (isHeader(config.name)) {
        <div class="option-container">
          <div class="option-header" [ngClass]="{ 'first-header': $first }">{{ config.name }}</div>
        </div>
      } @else {
        <div class="option-container">
          <div class="option-name" [ngClass]="{ 'option-name-two': toggleColor() }">{{ config.name }}</div>
          <div class="option-value" [ngClass]="{ 'option-value-two': toggleColor() }">{{ config.value }}</div>
        </div>
      }
    }
    <div class="option-header small" (click)="toggle()"># End</div>
  </div>
</div>
