.configOutputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 0.4rem;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0rem 1rem 0rem;
}

.config-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.config-input {
  display: flex;
  flex-direction: row;
}

.copyButton {
  align-self: flex-end;
  cursor: pointer;
  border: solid 0px red;
  min-width: 1.6rem;
  padding: 0.1rem;
  margin-right: 0.5rem;
  border: solid 1px rgb(213, 226, 200);
  border-radius: 0.2rem;
  background: rgb(56, 57, 55);
}

.configOutput {
  display: flex;
  flex-direction: column;

  background: var(--secondary-color);
  width: var(--randomizer-container-width);
  border-radius: 0.3rem;
  padding: 1rem 0.8rem 1rem 0.8rem;
  cursor: text;
  user-select: text; /* Allows text selection */
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  line-height: 1.4rem;
}

.option-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
}

.option-name {
  text-indent: 1rem;
  color: var(--primary-accent-color);
}

.option-value {
  color: var(--tertiary-accent-color);
}

.option-name-two {
  text-indent: 1rem;
  color: #30bb28;
}

.option-value-two {
  color: var(--tertiary-accent-color);
}

.option-header {
  padding-bottom: 0.3rem;
  padding-top: 1.5rem;
}

.first-header {
  padding-top: 0;
}

.small {
  max-width: 3rem;
}
