<div class="configOutputContainer">
  <div class="config-header">
    <div class="config-input">
      <div>
        <label for="upper" class="label first">Upper</label>
        <input type="text" [(ngModel)]="inputUpperBound" (ngModelChange)="updateUpperBound($event)" (focus)="onFocusHighlightText(inputFieldUpper)" #inputFieldUpper NumericInput id="upper" />
      </div>
      <div>
        <label for="lower" class="label">Lower</label>
        <input type="text" [(ngModel)]="inputLowerBound" (ngModelChange)="updateLowerBound($event)" (focus)="onFocusHighlightText(inputFieldLower)" #inputFieldLower NumericInput id="lower" />
      </div>
    </div>
    <div class="copyButton" (click)="copyConfigOutputToClipboard()">
      <img src="assets/copy-icon.svg" alt="Copy Text" />
    </div>
  </div>

  <div class="configOutput" #configOutputElement (dblclick)="onDblClick($event)">
    @for (config of configList(); track config) {
      @if (isHeader(config.name)) {
        <div class="option-container">
          <div class="option-header" [ngClass]="{ 'first-header': $first }">{{ config.name }}</div>
        </div>
      } @else {
        <div class="option-container">
          <div class="option-name">{{ config.name }}</div>
          <div class="option-value">{{ config.value }}</div>
        </div>
      }
    }
  </div>
</div>
