
<div class="dropdown-container">
  <div class="selection" id="{{ selectionIdentifier }}" (click)="toggleDropdown()">
    <div class="selected-option" id="{{ selectionIdentifier }}">
      {{ selected.name }}
    </div>
  </div>
  @if (this.displayDropdown) {
    <div class="menu-container" id="{{ dropdownIdentifier }}">
      <div class="menu">
      @for (item of dropdownOptions; track item.value) {
        <div class="menu-option" (click)="updateSelectedOption(item);closeDropdown()">
          {{ item.name }}
        </div>
      }
      </div>
    </div>
  }
</div>
