.randomizer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1rem;
  min-width: var(--randomizer-container-width);
  border-top: solid 5px var(--tertiary-accent-color);
  padding: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  background: var(--secondary-color);
  min-height: 300px;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.randomizer-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc((var(--randomizer-container-width) - 5rem) / 3);
  min-height: 100%;
  border: solid 0px var(--primary-font-color);
  border-radius: 0.5rem;
  min-height: 600px;
}

.optionCategory {
  width: 100%;
  margin-bottom: 2rem;
}

.optionCategoryTitle {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
}

.option {
  text-indent: 0.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sliderContainer {
  width: 2rem;
  height: 0.6rem;
  margin-top: 0.08rem;
}

.optionText {
  padding-left: 0.5rem;
}

.inputSelected {
  background: var(--tertiary-accent-color);
}
