<div class="randomizer-container">
  @for (column of getCategory(); track column.id) {
    <div class="randomizer-column">
      @for (setting of column.settings; track setting.id) {
        <div class="optionCategory">
          <div class="optionCategoryTitle">{{ setting.name }}</div>
          @for (option of setting.options; track option.id) {
            <div class="option">
              @if (option.inputType == irongoonInput.Slider) {
                <div class="sliderContainer" (click)="onSliderClicked($event, option)">
                  <input type="range" min="1" max="2" value="{{ option.value }}" [ngClass]="{'inputSelected custom-thumb' : option.value == 2 }" class="custom-thumb" />
                </div>
              }
              <div class="optionText">{{ option.name }}</div>
            </div>
          }
        </div>
      }
    </div>
  }
</div>
