<div class="randomizer-container">
  <div class="randomizer-column">
    <div class="optionCategory">
      <div class="optionCategoryTitle">Irongoon</div>
      <div class="option">Irongoon</div>
      <div class="option">Ultimate</div>
      <div class="option">Kaizo</div>
      <div class="option">108th</div>
    </div>
  </div>
  <div class="randomizer-column">
    <div class="optionCategory">
      <div class="optionCategoryTitle">Randomizer</div>
      <div class="option">
        <div class="sliderContainer">
          <input type="range" min="1" max="2" value="1" />
        </div>
        <div>Character and Enemy Stats</div>
      </div>
      <div class="option">Fixed Character and Enemy Stats</div>
      <div class="option">Averaged Character and Enemy Stats</div>
      <div class="option">Solo</div>
      <div class="option">No Shops</div>
      <div class="option">Randomizer+</div>
      <div class="option">Chaos</div>
    </div>
  </div>
  <div class="randomizer-column">
    <div class="optionCategory">
      <div class="optionCategoryTitle">Other</div>
      <div class="option">Suggest some!</div>
    </div>
  </div>
</div>
