<div class="summary-list-container">
  <a fastRouterLink="/data/character-comparison/" class="summary-card green-shimmer fill-link flex">
    <div>Character Comparison</div>
  </a>
</div>
<div class="summary-list-container">
  @for (character of characters; track character.id) {
    <a fastRouterLink="{{ '/data/character/' + character.firstName.toLowerCase() }}" class="summary-card green-shimmer fill-link flex">
      <div><img src="{{ 'assets/character/' + character.firstName.toLowerCase() + '.png' }}" /></div>
      <div class="flex-end">{{ character.firstName }}</div>
    </a>
  }
</div>
<div class="summary-list-container">
  <a fastRouterLink="/data/dragoons" class="summary-card green-shimmer fill-link flex">Dragoons</a>
  <a fastRouterLink="/data/additions" class="summary-card green-shimmer fill-link flex">Additions</a>
  <a fastRouterLink="/data/spells" class="summary-card green-shimmer fill-link flex">Spells</a>
  <a fastRouterLink="/data/items" class="summary-card green-shimmer fill-link flex">Items</a>
  <a fastRouterLink="/data/submaps" class="summary-card green-shimmer fill-link flex">Submaps</a>
  <a fastRouterLink="/data/stages" class="summary-card green-shimmer fill-link flex">Stages</a>
  <a fastRouterLink="/data/encounters" class="summary-card green-shimmer fill-link flex">Encounters</a>
  <a fastRouterLink="/data/enemies" class="summary-card green-shimmer fill-link flex">Enemies</a>
</div>
