<div class="summary-list-container">
  <a fastRouterLink="/data/character" class="summary-card green-shimmer fill-link">
    <div>Characters</div>
  </a>
  <div class="summary-card green-shimmer">Dragoons</div>
  <div class="summary-card green-shimmer">Additions</div>
  <div class="summary-card green-shimmer">Spells</div>
  <div class="summary-card disabled">Items</div>
  <div class="summary-card disabled">Submaps</div>
  <div class="summary-card disabled">Stages</div>
  <div class="summary-card disabled">Encounters</div>
</div>
