<div class="slider-parent">
  <div class="slider-container" (click)="onSliderClicked()">
    <input
      [id]="option().name"
      type="range"
      min="1"
      max="2"
      value="{{ option().value }}"
      [ngClass]="{ 'input-selected custom-thumb': option().value === 2, 'disabled disabled-thumb': option().disabled }"
      class="custom-thumb"
      [disabled]="option().disabled"
    />
  </div>
  <div class="option-text">
    <label [for]="option().name" (mouseenter)="isActiveTooltip.set(true)" (mouseleave)="isActiveTooltip.set(false)">{{ option().name }}</label>
    @if (isActiveTooltip()) {
      <app-irongoon-form-tooltip [tooltip]="option().tooltip"></app-irongoon-form-tooltip>
    }
  </div>
</div>
