.irongoon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: var(--randomizer-container-width);
  max-width: var(--randomizer-container-width);
  padding-top: 2rem;
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 0.4rem;
  align-items: center;
  width: 100%;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: var(--randomizer-container-width);
  position: relative;
  padding: 0.3rem 0rem 0.3rem 0rem;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  border-bottom: solid 1px var(--secondary-accent-color);
  background-color: var(--secondary-accent-color);
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0px 0px 20px 1px #173d0b00;
}

.tab:hover {
  color: var(--primary-font-color);
  background: var(--primary-accent-color);
}

.tabSelected {
  color: var(--tertiary-font-color);
  background: var(--tertiary-accent-color);
  border-bottom: solid 1px var(--tertiary-accent-color);
}

.tabSelected:hover {
  color: var(--tertiary-font-color);
  background: var(--tertiary-accent-color);
  border-bottom: solid 1px var(--tertiary-accent-color);
  margin-top: 0rem;
}

.macroOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.macroOption {
  border: solid 1px var(--secondary-accent-color);
  border-radius: 0.3rem;
  background: var(--secondary-accent-color);
  padding: 1rem;
  width: 20rem;
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  text-transform: capitalize;
}

.macroOption:hover {
  background: var(--primary-accent-color);
  border-color: var(--primary-accent-color);
  cursor: pointer;
}

.configOutputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 0.4rem;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0rem 1rem 0rem;
}

.copyButton {
  align-self: flex-end;
  cursor: pointer;
  border: solid 0px red;
  min-width: 1.6rem;
  padding: 0.1rem;
  margin-right: 0.5rem;
  border: solid 1px rgb(213, 226, 200);
  border-radius: 0.2rem;
  background: rgb(56, 57, 55);
}

.configOutput {
  background: var(--secondary-color);
  width: var(--randomizer-container-width);
  border-radius: 0.3rem;
  padding: 1rem 0.8rem 1rem 0.8rem;
}

.support {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 2rem 0.2rem 1rem 0.2rem;
  row-gap: 1rem;
}

.supportSection {
}

.supportArticle {
  padding: 1.5rem 0rem 1.5rem 1rem;
}

.supportTitle {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.06rem;
  padding: 2rem 0rem 2rem 0rem;
}
