.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  column-gap: 5rem;
  border: solid 0px red;
}

.tab {
  border: solid 0px green;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.tab:hover {
  color: grey;
}

.tabSelected {
  color: green;
}

.tabSelected:hover {
  color: green;
}
