<div class="irongoon">
  <div class="tabs">
    @for (tab of getNavigationTabs(); track tab.id) {
      <div class="tab" [ngClass]="{ tabSelected: isSelectedTab(tab.id) }" (click)="updateSelectedTab(tab.id)">
        <div>{{ tab.title }}</div>
      </div>
    }
  </div>

  <app-irongoon-category [selectedTab]="selectedTab()"></app-irongoon-category>

  <div class="macroOptions">
    <div class="macroOption">Generate Seed</div>
    <div class="macroOption" (click)="randomizeRandomizer()">Randomize</div>
    <div class="macroOption" (click)="resetRandomizer()">Reset</div>
  </div>

  <div class="configOutputContainer">
    <div class="copyButton" (click)="copyConfigOutputToClipboard()">
      <img src="assets/copy-icon.svg" alt="Copy Text" />
    </div>
    <div class="configOutput" #configOutputElement>
      {{ displayConfigList() }}
    </div>
  </div>

  <app-irongoon-support></app-irongoon-support>
</div>
