.irongoon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: var(--randomizer-container-width);
  max-width: var(--randomizer-container-width);
  padding-top: 2rem;
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  column-gap: 0.4rem;
  align-items: center;
  width: 100%;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 0.3rem 0rem 0.3rem 0rem;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  border-bottom: solid 1px var(--secondary-accent-color);
  background-color: var(--secondary-accent-color);
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
}

.tab:hover {
  color: var(--primary-font-color);
  background: var(--primary-accent-color);
}

.tabSelected {
  color: var(--tertiary-font-color);
  background: var(--tertiary-accent-color);
  border-bottom: solid 1px var(--tertiary-accent-color);
}

.tabSelected:hover {
  color: var(--tertiary-font-color);
  background: var(--tertiary-accent-color);
  border-bottom: solid 1px var(--tertiary-accent-color);
  margin-top: 0rem;
}

::ng-deep .randomizer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1rem;
  min-width: var(--randomizer-container-width);
  border-top: solid 5px var(--tertiary-accent-color);
  padding: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  background: var(--secondary-color);
  min-height: 300px;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

::ng-deep .randomizer-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc((var(--randomizer-container-width) - 5rem) / 3);
  min-height: 100%;
  border: solid 0px var(--primary-font-color);
  border-radius: 0.5rem;
  min-height: 600px;
}

.configOutputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 0.4rem;
  justify-content: center;
  align-items: flex-start;
}

.copyButton {
  align-self: flex-end;
  cursor: pointer;
  border: solid 0px red;
  min-width: 1.6rem;
  padding: 0.1rem;
  margin-right: 0.5rem;
  border: solid 1px rgb(213, 226, 200);
  border-radius: 0.2rem;
  background: rgb(56, 57, 55);
}

.configOutput {
  background: var(--secondary-color);
  width: var(--randomizer-container-width);
  border-radius: 0.3rem;
}
