<div class="character-data-container">
  <div class="character-headline">
    <div class="character-head card-bg character-portrait-container">
      <img src="{{ 'assets/character/' + character.firstName.toLowerCase() + '.png' }}" class="character-portrait-img" />
    </div>
    <div class="character-head card-bg">
      <div>
        <b>{{ character.firstName }}</b>
      </div>
      <div>{{ character.species | species }}</div>
      <div>{{ character.hometown }}</div>
      <br />
      <div>{{ character.acquired !== null ? 'Acquired at Level ' + character.acquired : 'Force Acquired' }}</div>
      <br />
      <div>{{ character.element | element }}</div>
      @for (dSpirit of character.flavour.dragoonSpirit; track character.id) {
        <div>
          {{ dSpirit }}
        </div>
      }
      <div>{{ character.additions?.length ? character.additions.length : 0 }} Additions</div>
      <br />
    </div>
    <div class="character-head card-bg flex">
      <div>
        <ul>
          <b>Pros</b>
          @for (pros of character.flavour.commonStrategies.pros; track character.id) {
            <li>• {{ pros.desc }}</li>
          }
        </ul>
      </div>
      <div>
        <ul>
          <b>Cons</b>
          @for (cons of character.flavour.commonStrategies.cons; track character.id) {
            <li>• {{ cons.desc }}</li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="body-stats">
    <div class="flex-row">Body Stats</div>
    <div class="flex-row">
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeTensOnly.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">By 10s</div>
        </label>
      </div>
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeFivesOnly.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">By 5s</div>
        </label>
      </div>
    </div>
    <div>
      <app-grid-display [rowData]="filteredCharacterBodyStats | async" [colDefs]="characterColumnDefinitions"></app-grid-display>
    </div>
  </div>
  <div class="body-stats">
    <div class="flex-row">
      <div>Body Stats Growth</div>
    </div>
    <div class="flex-row">
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeAttack.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">Attack</div>
        </label>
      </div>
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeDefense.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">Defense</div>
        </label>
      </div>
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeMagicAttack.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">Magic Attack</div>
        </label>
      </div>
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeMagicDefense.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">Magic Defense</div>
        </label>
      </div>
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeHP.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">HP</div>
        </label>
      </div>
    </div>
    <div>
      <app-graph-display [chartOptionsData]="filteredCharacterBodyStatsChartOptionsData" [chartOptionsSeries]="filteredCharacterBodyStatsChartOptionsSeries"></app-graph-display>
    </div>
  </div>
  <div class="body-stats">
    <div class="flex-row">Additions</div>
    <div class="flex-row">
      <label class="checkbox-label flex checkbox-flex">
        <input type="checkbox" [formControl]="includeMaxAdditions" (click)="lastClickedMinOrMaxAddition('max')" />
        <div class="checkbox-inner-label" (click)="lastClickedMinOrMaxAddition('max')">Max Level Only</div>
      </label>
      <label class="checkbox-label flex checkbox-flex">
        <input type="checkbox" [formControl]="includeMinAdditions" (click)="lastClickedMinOrMaxAddition('min')" />
        <div class="checkbox-inner-label" (click)="lastClickedMinOrMaxAddition('min')">Min Level Only</div>
      </label>

      <div id="additionFilter" class="addition-filter column-md">
        @for (addition of character.additions; track addition.id) {
          <div class="addition-filter">
            <label class="checkbox-label addition-filter" (click)="lastClickedMinOrMaxAddition(null)">
              <input type="checkbox" [value]="addition.name" [checked]="selectedAdditions.value.includes(addition.name)" (change)="onAdditionChange(addition.name, $event)" />
              <div (change)="onAdditionChange(addition.name, $event)">{{ addition.name }}</div>
            </label>
          </div>
        }
      </div>
    </div>
    <div>
      <app-grid-display [rowData]="filteredCharacterAdditionBasicStats | async" [colDefs]="characterAdditionColumnDefinitions"></app-grid-display>
    </div>
  </div>
  <div class="body-stats">
    <div class="flex-row">Addition Hits</div>
    <div class="flex-row small-text">(Initial Pause | Move to Enemy | Distance) > Hit [Blue Squares > Action Frames > Post Hit Pause] > Start Next Hit</div>
    <div class="flex-row small-text">*Most columns are number of frames</div>
    <div>
      <app-grid-display [rowData]="filteredCharacterAdditionHitStats | async" [colDefs]="characterAdditionHitColumnDefinitions"></app-grid-display>
    </div>
  </div>
  <div class="body-stats">
    <div class="flex-row">Dragoon Stats</div>
    <div class="flex-row small-text"></div>
    <div>
      @for (dragoon of character?.dragoons; track dragoon) {
        <h3>{{ dragoon.name }}</h3>
        @if (dragoon.note) { <p>{{ dragoon.note }}</p> }
        <app-grid-display [rowData]="dragoon.dragoonStats" [colDefs]="characterDragoonStatsColumnDefinitions"></app-grid-display>
      }
    </div>
  </div>
  <div class="body-stats">
    <div class="flex-row">Dragoon Spells</div>
    <div class="flex-row small-text"></div>
    <div>
      @for (dragoon of character?.dragoons; track dragoon) {
        <h3>{{ dragoon.name }}</h3>
        <app-grid-display [rowData]="dragoon.spells" [colDefs]="characterDragoonSpellsColumnDefinitions"></app-grid-display>
      }
    </div>
  </div>
</div>
