<div class="character-data-container">
  <div class="character-headline">
    <div class="character-head card-bg character-portrait-container">
      <img src="{{ 'assets/character/' + character.firstName.toLowerCase() + '.png' }}" class="character-portrait-img" />
    </div>
    <div class="character-head card-bg">
      <div>
        <b>{{ character.firstName }}</b>
      </div>
      <div>{{ character.species | species }}</div>
      <div>{{ character.hometown }}</div>
      <br />
      <div>{{ character.acquired !== null ? 'Acquired at Level ' + character.acquired : 'Force Acquired' }}</div>
      <br />
      <div>{{ character.element | element }}</div>
      @for (dSpirit of character.flavour.dragoonSpirit; track character.id) {
        <div>
          {{ dSpirit }}
        </div>
      }
      <div>{{ character.additions?.length ? character.additions.length : 0 }} Additions</div>
      <br />
    </div>
    <div class="character-head card-bg flex">
      <div>
        <p><b>Bio</b></p>
        <p>{{ character.flavour.background }}</p>
      </div>
      <div>
        <ul>
          <b>Pros</b>
          @for (pros of character.flavour.commonStrategies.pros; track character.id) {
            <li>• {{ pros.desc }}</li>
          }
        </ul>
      </div>
      <div>
        <ul>
          <b>Cons</b>
          @for (cons of character.flavour.commonStrategies.cons; track character.id) {
            <li>• {{ cons.desc }}</li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="body-stats">
    <div class="flex-row">Body Stats</div>
    <div class="flex-row">
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeTensOnly.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">By 10s</div>
        </label>
      </div>
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeFivesOnly.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">By 5s</div>
        </label>
      </div>
    </div>
    <div>
      <app-grid-display [rowData]="filteredCharacterBodyStats | async" [colDefs]="characterColumnDefinitions"></app-grid-display>
    </div>
  </div>
  <div class="body-stats">
    <div class="flex-row">
      <div>Body Stats Growth</div>
    </div>
    <div class="flex-row">
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeAttack.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">Attack</div>
        </label>
      </div>
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeDefense.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">Defense</div>
        </label>
      </div>
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeMagicAttack.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">Magic Attack</div>
        </label>
      </div>
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeMagicDefense.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">Magic Defense</div>
        </label>
      </div>
      <div>
        <label class="checkbox-label flex checkbox-flex" (change)="onFilterCharacterLevelChange($event)">
          <input type="checkbox" [checked]="includeHP.getValue()" (change)="onFilterCharacterLevelChange($event)" />
          <div class="checkbox-inner-label">HP</div>
        </label>
      </div>
    </div>
    <div>
      <app-graph-display [chartOptionsData]="filteredCharacterBodyStatsChartOptionsData" [chartOptionsSeries]="filteredCharacterBodyStatsChartOptionsSeries"></app-graph-display>
    </div>
  </div>
  <div class="body-stats">
    <div class="flex-row">Additions</div>
    <div class="flex-row">
      <label class="checkbox-label flex checkbox-flex">
        <input type="checkbox" [formControl]="includeMaxAdditions" />
        <div class="checkbox-inner-label">Max Level Only</div>
      </label>
      <label class="checkbox-label flex checkbox-flex">
        <input type="checkbox" [formControl]="includeMinAdditions" />
        <div class="checkbox-inner-label">Min Level Only</div>
      </label>
    </div>
    <div>
      <app-grid-display [rowData]="filteredCharacterAdditionBasicStats | async" [colDefs]="characterAdditionColumnDefinitions"></app-grid-display>
    </div>
  </div>
  <div class="body-stats">
    <div class="flex-row">Addition Hits</div>
    <div class="flex-row small-text">(Initial Pause | Move to Enemy | Distance) > Hit [Blue Squares > Action Frames > Post Hit Pause] > Start Next Hit</div>
    <div class="flex-row small-text">*Most columns are number of frames</div>
    <div>
      <app-grid-display [rowData]="flattenAdditionHits(character.additions)" [colDefs]="characterAdditionHitColumnDefinitions"></app-grid-display>
    </div>
  </div>
</div>
